.list-item {
  padding: 16px 10px;
	position: relative;
	border-radius: .4em;
  margin: 10px;
  display: flex;
}

.list-item-bubble {
  padding: 16px 10px;
	position: relative;
	background: #dad5f0;
	border-radius: .4em;
  margin: 10px;
  display: flex;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  width: 100%;
}

.list-item-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.438em solid transparent;
	border-right-color: #dad5f0;
	border-left: 0;
	border-top: 0;
	margin-top: -0.719em;
	margin-left: -1.437em;
}

.list-item-name{
  flex-basis: 0;
  flex-grow: 7;
}

.list-item-delete{
  margin-right: 2em;
  text-align: right;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.list-item-avatar{
  margin-right: 2em;
  text-align: left;
  height: 32px;
  width: 32px;
}



.list-item-edit{
margin-right: 2em;
  text-align: right;
  cursor: pointer;
  height: 32px;
  width: 32px;
}
